.swap {
    width: 400px;
    flex-shrink: 0;
    background-color: #1A191B;
    margin-top: 24px;
    border-radius: 8px;
    padding: 28px 28px;
    position: relative;
    min-height: 470px;
}

.buy_buy {
    width: 100%;
    height: 40px;
    position: relative;
    border-radius: 8px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%), #191919;

    padding-right: 26px;

    color: #FFF;
    font-family: Hanson;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 100% */
    letter-spacing: 0.28px;
    text-align: right;
    cursor: pointer;


    .buy_text{
        text-align: right;
    }
    .buy_btn {
        width: 270px;
        height: 80px;
        position: absolute;
        left: -18px;
        bottom: -12px;

    }
}
.buy_sell {
    width: 100%;
    height: 40px;
    position: relative;
    border-radius: 8px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%), #191919;

    padding-left: 26px;

    color: #FFF;
    font-family: Hanson;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 100% */
    letter-spacing: 0.28px;
    text-align: right;
    cursor: pointer;

    .buy_text{
        text-align: left;
    }

    .buy_btn {
        width: 270px;
        height: 60px;
        position: absolute;
        right: -18px;
        bottom: -12px;

    }
}


.market {
    cursor: pointer;
    width: 76px;
    margin-top: 12px;
    height: 26px;
    flex-shrink: 0;
    color: #F5F5F5;
    text-align: right;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 166.667% */

    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 9px;
    padding-right: 9px;

    border-radius: 14px;
    border: 1px solid #3c3c3c;

    .market_img {
        width: 10px;
    }
}


.percent_area {
    margin-top: 12px;
    width: 100%;
    background-color: #252525;
    border-radius: 8px;
    padding: 10px 12px;

    .percent_top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .number {
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 18px; /* 100% */
        }

        .token {
            border-radius: 14px;
            width: 82px;
            height: 26px;
            background-color: #333333;
            display: flex;
            justify-content: space-between;
            padding-right: 12px;

            .token_img {
                width: 26px;
                height: 26px;
                border-radius: 13px;
            }

            .token_symbol {
                color: #FFF;
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 26px; /* 100% */
            }
        }
    }

    .wallet {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;

        .total {

            color: #FFF;
            font-family: Poppins;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            opacity: 0.6;

        }

        .balance {
            display: flex;
            align-items: center;
            gap: 4px;

            opacity: 0.6;
            color: #FFF;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 12px; /* 100% */


            .balance_img {
                width: 12px;
            }

            .balance_all {
                cursor: pointer;
                color: #3AED6F;
                font-family: Poppins;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
            }
        }
    }

    .percents {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;

        .percent {
            cursor: pointer;
            border-radius: 4px;
            background: #333;
            width: 22%;
            line-height: 24px;
            text-align: center;
            color: #FFF;
            text-align: center;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            opacity: 0.6;
        }
    }
}

.sell_token_info{
    display: flex;
    justify-content: flex-end;
    gap: 4px;
    align-items: center;

    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    .sell_token_info_img{
        border-radius: 50%;
        width: 24px;
        height: 24px;
    }
    .sell_token_info_symbol{
        opacity: 0.6;
    }

}

.confirm_area {
    margin-top: 12px;
    width: 100%;
    background-color: #252525;
    border-radius: 8px;
    padding: 10px 12px 20px 12px;

    .confirm {
        display: flex;
        justify-content: space-between;

        .left {
            .left_content {
                display: flex;
                justify-content: flex-start;
                gap: 4px;
                align-items: center;
                color: #FFF;
                font-family: Poppins;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                opacity: 0.6;
            }
        }

        .confirm_btn {
            position: relative;
            cursor: pointer;

            .conform_btn_img {
                width: 120px;
            }
        }
    }
}

.swap_popover{
    position: absolute;
    width: 500px;
    height: 120px;
    z-index: 99;
    bottom: 60px;
    left: -200px;
    background-color: #262626;
    border-radius: 8px;
    border: 1px solid #515151;
    padding: 20px 20px;

    .bottom_btns{
        padding-top: 30px;
        display: flex;
        justify-content: space-between;

        .bottom_btns_right{
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }

        .bottom_btn{
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px; /* 125% */
        }
        .bottom_btn_green{
            color: #3AED6F;
        }
    }



    .swap_popover_input{
        width: 100%;
        height: 30px;
        display: flex;
        color: rgba(255, 255, 255, 0.60);
        font-size: 16px;
        color: #FFF;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 125% */
        background-color: #262626;
        &:focus {
            outline: none;
            box-shadow: none;
        }

    }

    .swap_popover_icon{
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        position: absolute;
        right: 45%;
        border-bottom-right-radius: 0px;
        bottom: -10px;

        background-color: inherit;
        border: 1px solid #515151;
        border-top-color: transparent;
        border-left-color: transparent;
        z-index: 1;
    }

}

.buy_area {
    margin-left: -30px;
    width: 100%;
    height: 110px;
    position: relative;

    .buy_area_img_div {
        width: 400px;
        height: 110px;
        left: 10px;
        top: -30px;
        pointer-events: none;
        position: absolute;
    }

    .buy_area_img {
        width: 100%;
    }
    .sell_area_img{
        width: 100%;
        margin-top: -12px;
    }

    .buy_area_amount {
        position: relative;
        display: flex;
        z-index: 10;
    }
}

.token_area {
    padding-left: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    .token_area_left {
        .token_img_div {
            width: 56px;
            border: 2px solid #000;
            border-radius: 28px;
            background-color: #fff;
            padding: 4px 4px;
            .token_img {
                width: 44px;
                height: 44px;
                border-radius: 22px;
            }
        }
        .token_name{
            position: relative;
            .token_name_title{
                position: relative;
                color: #F4F4F4;
                text-align: center;
                text-shadow: 0px 1px 0px #000;
                -webkit-text-stroke-color: #060606;
                font-family: Hanson;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 21.366px; /* 132.3% */
                letter-spacing: 0.646px;
                transform: rotate(-6deg);
                z-index: 10;
            }
            .token_name_bg{
                position: absolute;
                left: 6px;
                top: 8px;
                width: 90%;
                height: 12px;
                transform: rotate(-6deg);
                flex-shrink: 0;
                background-color: #FFD500;
            }
        }
    }
    .token_amount{
        height: 30px;
        color: #E0BF5A;
        font-family: Hanson;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px; /* 100% */
        letter-spacing: 2.4px;
    }
}

.select_to_token_icon{
    cursor: pointer;
    position: absolute;
    right: -20px;
    top: -10px;
}

.btn_pointer{
    cursor: pointer;
}
