.tradeComment {
    display: inline-flex;
    width: auto;
    height: 32px;
    color: rgba(255, 255, 255, 0.95);
    flex-shrink: 0;
    padding: 4px 0px 4px 12px;


    align-items: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.50);
    letter-spacing: 0.24px;
    cursor: pointer;

}

.comment {
    display: inline-flex;
    width: auto;
    height: 32px;
    position: relative;
}

.buyText {

    background: linear-gradient(90deg, #EBFF00 0%, #33FFA9 76.43%, #FFD60C 134.68%);
    -webkit-background-clip: text;
    color: transparent;

}

.sellText {
    background: linear-gradient(270deg, #FF01E6 -0.04%, #F37 30.22%, #F37 60.94%, #FF699B 75.79%, #FF8934 89.98%, #FFD60C 104.01%);


    -webkit-background-clip: text;
    color: transparent;

}


.messageImageBig {
    transform: translateY(4px);
    align-self: flex-end;
    width: 40px;
    height: 40px;
    position: relative;

}

.tradeAmount {
    transform: rotate(8deg) translateY(-10px);
    justify-content: center;
    z-index: 8;
    position: relative;
    align-items: center;
    padding: 6px 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background-color: #3BF873;
    color: hsl(140, 60%, 3%);
    font-family: Poppins;
    font-size: 12px;
    font-style: italic;
    font-weight: 700;
    line-height: 12px;
    /* 100% */
    letter-spacing: 0.24px;
}

.commentRight {
    margin-left: 10px;
    position: relative;
}

.image1 {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 32px;
    height: 32px;
}

.image2 {
    position: absolute;
    top: 10px;
    left: 24px;
    z-index: 10;
    width: 17.5px;
    height: 17.5px;
}

.image3 {
    position: absolute;
    top: 8px;
    left: 30px;
    z-index: 1;

    width: 30px;
    height: 30px;
}

.avatarImage {
    position: relative;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    overflow: hidden;
    width: 29.672px;
    height: 29.672px;
    flex-shrink: 0;
}

.avatar {
    position: absolute;
    padding: 2px;
    right: 8px;
    z-index: 20;
    border: #000;
    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
}
.rightContent{

    width: 42px;
}
.starImage{
    position: absolute;
    right: 0;
    width: 12.781px;
    height: 11.157px;
    flex-shrink: 0;

}