.header {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    position: relative;
}

.headerRight {
    display: flex;
    gap: 48px;
}

.home {
    padding-left: calc(50% - 620px);
    padding-right: calc(50% - 620px);
}

.icons {
    display: flex;
    gap: 16px;
}

.icons img {
    cursor: pointer;
}

.offerings {
    position: relative;

    margin-top: 48px;

}

.title {
    color: #FFF;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-shadow: 0px 2px 0px #000;

    -webkit-text-stroke-width: 1.5;
    -webkit-text-stroke-color: #060606;
    letter-spacing: 0.4px;
}


.banners {
    display: flex;
    margin-top: 24px;
    flex-wrap: wrap;
}

.bannerItem {
    flex-basis: 50%;
    border-radius: 20px;
    overflow: hidden;
    width: 690px;
    height: 200px;
    position: relative;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coming {
    padding: 4px 8px;
    background-color: #FFCF06;
    transform: rotate(-3deg);
    color: #F3F3F3;
    text-align: center;
    text-shadow: 0px 1px 0px #000;
    box-shadow: 4px 4px 0px #000;

    -webkit-text-stroke-width: 1.5;
    -webkit-text-stroke-color: #060606;
    font-family: Hanson;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    /* 100% */
    letter-spacing: 1.6px;
    z-index: 100;
}

.keywords {
    position: relative;
    margin-top: 48px;
    height: 180px;
}

.messages {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 0;
    gap: 16px;
    overflow: hidden;
    padding: 32px 0;
    margin-top: 24px;
    background: linear-gradient(180deg, #262626 31.56%, rgba(38, 38, 38, 0.00) 100%);
    width: 100%;
}
.messagesContent{
    display: flex;
    gap: 12px;

    animation: scroll1 45s linear infinite;


}
@keyframes scroll1 {
    0% {
        transform: translateX(4px);
    }

    100% {
        transform: translateX(-50%);
    }
}


.messages::before,
.messages::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40%;
    /* 调整宽度以实现效果 */
    z-index: 1;
    pointer-events: none;
    /* 确保点击事件不受影响 */
}

.messages::before {
    left: 0;
    background: linear-gradient(to right, #191919 0%, rgba(38, 0, 0, 0) 100%);
}

.messages::after {
    right: 0;
    background: linear-gradient(to left, #191919 0%, rgba(38, 38, 38, 0) 100%);
}

.messageItem {
    width: auto;
    height: 32px;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    gap: 4px;
    padding: 4px 8px;
    align-items: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.50);
    flex-shrink: 0;
    /* 100% */
    letter-spacing: 0.24px;
}
.messageImage{
/* transform: translateY(-10px); */
align-self: flex-end;

}
.coin {
    overflow: hidden;
}

.list {
    display: flex;
    gap: 24px;
    margin-top: 48px;
}

.colorText {
    background: linear-gradient(90deg, #EBFF00 0%, #33FFA9 76.43%, #FFD60C 134.68%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sellColorText {

    background: linear-gradient(270deg, #FF01E6 -0.04%, #F37 30.22%, #F37 60.94%, #FF699B 75.79%, #FF8934 89.98%, #FFD60C 104.01%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.start {

    cursor: not-allowed;
}

.hotCoins {
    flex-basis: 50%;
}

.topGainers {
    flex-basis: 50%;
}

.coinAvatar {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #FFF;
}


.hotCoinsList {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.hotCoinItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 186px;
    height: 145px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #262626;
}

.hotCoinName {
    color: #FFF;
    text-align: center;
    font-family: Hanson;
    margin-top: 8px;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.32px;
}

.changeLeft {
    margin-top: 8px;
    color: #3BF873;
    font-family: Hanson;
    display: flex;
    gap: 2px;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;

}

.topGainersItem {

    display: flex;
    margin-top: 24px;
    width: 100%;
    border-radius: 20px;
    background: #262626;
    height: 90px;
    align-items: center;
    padding: 0 24px;
    justify-content: space-between;

}

.topGainersItemLeft {
    display: flex;
    gap: 12px;
    align-items: center;
}

.topGainersItemTime {
    color: #fff;
    text-align: right;
    opacity: 0.4;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.28px;
}

.bottomLine {
    width: 100%;
    height: 1px;
    background-color: #fff;
    opacity: 0.2;
    margin-top: 48px;
}

.bottom {
    display: flex;
    margin-top: 32px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 48px;
}

.bottomLeft {
    display: flex;
    align-items: center;
    gap: 36px;
    color: rgba(255, 255, 255, 0.6);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 100% */
}


