.confirm_btn{
  background: url("/images/swap/confirm.png") no-repeat;
  background-size: 100% 100%;
  border-radius: 25px;

  color: #F3F3F3;

  text-align: center;
  text-shadow: 0px 1px 0px #000;
  -webkit-text-stroke-width: 1.4px;
  -webkit-text-stroke-color: #060606;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.12px;

}

.connect_btn{
  background: url("/images/swap/connect_network.png") no-repeat;
  background-size: 100% 100%;
  border-radius: 25px;
}

.switch_network_btn{
  background: url("/images/swap/switch_network.png") no-repeat;
  background-size: 100% 100%;
  border-radius: 25px;
}

//
//style={{
//  backgroundColor: "transparent",
//  backgroundImage:`url(/images/swap/confirm.png)`,
//  backgroundSize: 'cover',
//  backgroundRepeat: 'no-repeat',
//  backgroundPosition: 'center',
//  textShadow:"0px 1px 0px #000",
//  color:"#fff"
//}}
