.hibit {
    display: flex;
    height: 100vh;
}



.rightContent {
    margin-left: 240px;
    display: flex;
    flex-direction: column;
    background: #060606;
    width: calc(100% - 240px);
}



.content {
    margin-top: 64px;
    overflow-y: auto;
    /* height: calc(100vh - 64px); */
    padding: 24px;
}

.buy_area {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}