.leftTabs {
    margin-top: 24px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    line-height: 14px;
    gap: 8px;
}

.leftTab {
    width: 97px;
    padding: 8px 0;
    cursor: pointer;
    overflow-x: visible; 
    overflow-y: scroll;  
}


.selectedImage {
    top: -32px;
    pointer-events: none;
    left: -4px;
    position: absolute;
    width: 263.181px;
    height: 120.566px;

}

.selectedcoinName {
    color: #F3F3F3;
    text-align: center;
    text-shadow: 0px 1px 0px #000;
    -webkit-text-stroke-width: 1.5;
    -webkit-text-stroke-color: #060606;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    z-index: 10;
    letter-spacing: 1.12px;

}

.selectedprice {
    opacity: 0.6;
    color: #000;
    text-align: right;
    margin-top: 6px;
    font-family: Hanson;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    z-index: 10;
}

.bottomBorder {
    height: 4px;
    background-color: #37F872;
    border-radius: 4px;
    width: 97px;
    margin-top: 8px;
}

.leftBar {
    user-select: none; 
    background-color: #1A191B;
    width: 240px;
    flex-shrink: 0;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
}

.coinslist {
    display: flex;
    flex-direction: column;
  
    width: 100%;
    transition: all 1 linear;
}

.coinItem {
    width: 100%;
    transition: all 1 linear;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    height: 44px;
    margin-top: 10px;
    cursor: pointer;
}

.coinItemLeft {
    display: flex;
    align-items: center;
    gap: 8px;
}

.coinAvatar {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: #000 1px solid;
}

.coinName {
    color: #F5F5F5;
    text-align: center;
    opacity: 0.8;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;

}

.selectedchange {
    z-index: 10;
    color: #000;
    text-align: right;
    font-family: Hanson;
    margin-top: 6px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    /* 100% */
    display: flex;
    gap: 4px;
}

.change {
    color: #3BF873;
    text-align: right;
    display: flex;
    gap: 4px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
    margin-top: 6px;
}

.coinRight {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2px;
}

.price {
    color: #FFF;
    text-align: right;
    margin-top: 6px;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    opacity: 0.5;


}